<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd   
    http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
	default-lazy-init="true">
	<tx:annotation-driven />
	<context:component-scan base-package="cn.com.ddhj.controller" />
	<!-- 注解支持 -->
	<context:annotation-config />
	<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 采用SpringMVC自带的JSON转换工具，支持@ResponseBody注解 -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" />    <!-- JSON转换器 -->
			</list>
		</property>
	</bean>
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 文件上传限制 -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="defaultEncoding"> <value>UTF-8</value> </property> <property 
		name="maxUploadSize"> <value>32505856</value> </property> <property name="maxInMemorySize"> 
		<value>4096</value> </property> </bean> -->

	<!-- Quartz http://www.cnblogs.com/jianzhi/p/3384436.html -->
	<!-- bean name="jobResyncEstateScore" class="cn.com.ddhj.service.impl.EstateEnvironmentServiceImpl" 
		/ -->
	
	<bean name="tmpStatScore" class="cn.com.ddhj.job.LandScoreJob" />
	<bean id="tmpStatScoreJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="tmpStatScore"></property>
		<property name="targetMethod" value="statScore"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="quartzTmpStatScore"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="tmpStatScoreJob" />
		<property name="cronExpression" value="0 22 23 22 10 ? *"></property>
	</bean>
	
	
	<bean name="jobResyncEstateScore" class="cn.com.ddhj.job.ResyncEstateScore" />
	<bean id="quartzJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobResyncEstateScore"></property>
		<property name="targetMethod" value="resyncEstateScore"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="quartzTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzJob" />
		<!-- 每周六0点22分22秒运行楼盘分数和排行榜统计 -->
		<property name="cronExpression" value="0 22 22 ? * SAT"></property>
	</bean>
	
	
	<!-- 定时生成环境报告 -->
	<bean name="createReportJob" class="cn.com.ddhj.job.BatchCreateReportJob" />
	<bean id="quartzCreateReport"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="createReportJob"></property>
		<property name="targetMethod" value="batchCreateReport"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="createReportTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzCreateReport" />
		<!-- 修改为每周六晚上00:00运行定时任务 -->
		<property name="cronExpression" value="0 00 23 ? * SAT"></property>
	</bean>

	<!-- 定时抓取中国碳交易网的行情数据 -->
	<bean name="carbonDealData" class="cn.com.ddhj.job.CarbonDealData" />
	<bean id="quartzCarbonDealData"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="carbonDealData"></property>
		<property name="targetMethod" value="grab"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="carbonDealDataTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzCarbonDealData" />
		<!-- 每分钟运行定时任务 -->
		<property name="cronExpression" value="0 0 12 * * ?"></property>
	</bean>

	<!-- 定时更新楼盘solr索引 -->
	<bean name="reindexLandProperty" class="cn.com.ddhj.solr.job.ReindexLandPropertyForSolr" />
	<bean id="quartzReindexLandProperty"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="reindexLandProperty"></property>
		<property name="targetMethod" value="reindex"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="reindexLandPropertyTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzReindexLandProperty" />
		<!-- 凌晨5分运行定时任务 -->
		<property name="cronExpression" value="0 5 0 * * ?"></property>
	</bean>
	
	<!-- 定时统计solr搜索热词 -->
	<bean name="statSearchHotword" class="cn.com.ddhj.job.StatSearchHotWord" />
	<bean id="quartzStatSearchHotword"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="statSearchHotword"></property>
		<property name="targetMethod" value="stat"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="StatSearchHotwordTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzStatSearchHotword" />
		<!-- 凌晨5分运行定时任务 -->
		<property name="cronExpression" value="0 5 0 * * ?"></property>
	</bean>
	
	<!-- 碳步狂人 -->
	<bean name="dailyCarbonStepPresentBean" class="cn.com.ddhj.job.DailyCarbonStepPresent" />
	<bean id="quartzDailyCarbonStepPresent"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="dailyCarbonStepPresentBean"></property>
		<property name="targetMethod" value="dailyCountStepPresent"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="dailyCarbonStepPresentTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzDailyCarbonStepPresent" />
		<!-- 凌晨5分运行定时任务 -->
		<property name="cronExpression" value="0 5 0 * * ?"></property>
	</bean>
	
	
	<bean name="jobResyncEstateScoreOneTime" class="cn.com.ddhj.job.ResyncEstateScoreOneTime" />
	<bean id="quartzJobOneTime"  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobResyncEstateScoreOneTime"></property>
		<property name="targetMethod" value="resyncEstateScore"></property>
		<!-- 设定多个job不会并发运行 -->
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="quartzTriggerOneTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzJobOneTime" />
		<!-- 每年10月22日11点运行 -->
		<property name="cronExpression" value="0 15 11 23 10 ? *"></property>
	</bean>
	
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="quartzTrigger" />
				<ref bean="quartzTriggerOneTime" />
				<ref bean="quartzTmpStatScore" />
				<ref bean="carbonDealDataTrigger" />
				<ref bean="reindexLandPropertyTrigger" />
				<ref bean="createReportTrigger" />
				<ref bean="StatSearchHotwordTrigger" />
				<ref bean="dailyCarbonStepPresentTrigger" />
			</list>
		</property>
	</bean>



	<mvc:annotation-driven>
		<!-- 处理responseBody 里面日期类型 -->
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
</beans>