<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ddhj.mapper.trade.TTradeBalanceMapper">
  <resultMap id="BaseResultMap" type="cn.com.ddhj.model.trade.TTradeBalance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="object_code" jdbcType="VARCHAR" property="objectCode" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="buy_sell" jdbcType="VARCHAR" property="buySell" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, object_code, user_code, price, buy_sell, amount, create_time, update_time
  </sql>
  <sql id="Base_Column_List_1">
    object_code, user_code, price, buy_sell, amount 
  </sql>  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_trade_balance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="cn.com.ddhj.model.trade.TTradeBalance">
    insert into t_trade_balance (id, uuid, object_code, 
      user_code, price, buy_sell, 
      amount, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{objectCode,jdbcType=VARCHAR}, 
      #{userCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{buySell,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ddhj.model.trade.TTradeBalance">
    insert into t_trade_balance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="objectCode != null">
        object_code,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="buySell != null">
        buy_sell,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="objectCode != null">
        #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="buySell != null">
        #{buySell,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.ddhj.model.trade.TTradeBalance">
    update t_trade_balance
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="objectCode != null">
        object_code = #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="buySell != null">
        buy_sell = #{buySell,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.ddhj.model.trade.TTradeBalance">
    update t_trade_balance
    set uuid = #{uuid,jdbcType=VARCHAR},
      object_code = #{objectCode,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      buy_sell = #{buySell,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByUserCodeAndObjCode" parameterType="cn.com.ddhj.dto.trade.TTradeBalanceDto" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List_1" />
    from t_trade_balance
    <where>
    	1=1
    	<if test="userCode != null">
        	and user_code = #{userCode,jdbcType=VARCHAR}
      	</if>
      	<if test="objectCode != null">
        	and object_code = #{objectCode,jdbcType=VARCHAR}
      	</if>
    </where>
  </select>
</mapper>