<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ddhj.mapper.trade.TTradeOrderMapper">
  <resultMap id="BaseResultMap" type="cn.com.ddhj.model.trade.TTradeOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="object_code" jdbcType="VARCHAR" property="objectCode" />
    <result column="buy_sell" jdbcType="VARCHAR" property="buySell" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uuid, order_code, object_code, buy_sell, user_code, price, amount, status, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_trade_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_trade_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.ddhj.model.trade.TTradeOrder">
    insert into t_trade_order (id, uuid, order_code, 
      object_code, buy_sell, user_code, price, 
      amount, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{uuid,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, 
      #{objectCode,jdbcType=VARCHAR}, #{buySell,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{amount,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ddhj.model.trade.TTradeOrder">
    insert into t_trade_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="objectCode != null">
        object_code,
      </if>
		<if test="buySell != null">
        buy_sell,
      </if>      
      <if test="userCode != null">
        user_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="objectCode != null">
        #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="buySell != null">
        #{buySell,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.ddhj.model.trade.TTradeOrder">
    update t_trade_order
    <set>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="objectCode != null">
        object_code = #{objectCode,jdbcType=VARCHAR},
      </if>
      <if test="buySell != null">
        buy_sell = #{buySell,jdbcType=VARCHAR},
      </if>      
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.ddhj.model.trade.TTradeOrder">
    update t_trade_order
    set uuid = #{uuid,jdbcType=VARCHAR},
      order_code = #{orderCode,jdbcType=VARCHAR},
      object_code = #{objectCode,jdbcType=VARCHAR},
      buy_sell = #{buySell,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserTradeOrder" parameterType="cn.com.ddhj.dto.trade.TTradeOrderDto" resultMap="BaseResultMap">
  	select 
  		 order_code, object_code, buy_sell, user_code, price, amount, status, DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time   
  	from t_trade_order 
  	<where>
  		user_code=#{userCode,jdbcType=VARCHAR} 
  		<if test="beginDate != null">
        	and create_time&gt;=#{beginDate,jdbcType=TIMESTAMP} 
      	</if>     	
      	<if test="endDate != null">
        	and create_time&lt;=#{endDate,jdbcType=TIMESTAMP}
      	</if>
  	</where>
  </select>
</mapper>