<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.TAppStartMapper">
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.TAppStart">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="app_version" property="appVersion" jdbcType="VARCHAR" />
		<result column="first_url" property="firstUrl" jdbcType="VARCHAR" />
		<result column="is_show_add" property="isShowAdd" jdbcType="CHAR" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="yu_countdown" property="yuCountdown" jdbcType="VARCHAR" />
		<result column="button_background" property="buttonBackground" jdbcType="VARCHAR" />
		<result column="button_pic" property="buttonPic" jdbcType="VARCHAR" />
		<result column="yu_jump_button" property="yuJumpButton" jdbcType="VARCHAR" />
		<result column="show_more_linkvalue" property="showMoreLinkvalue" jdbcType="VARCHAR" />
		<result column="button_type" property="buttonType" jdbcType="VARCHAR" />
		<result column="residence_time" property="residenceTime" jdbcType="VARCHAR" />
		<result column="button_text" property="buttonText" jdbcType="VARCHAR" />
		<result column="button_color" property="buttonColor" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
	</resultMap>
	 
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			t_app_start
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="getEntityByVersion" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			*
		from 
			t_app_start
		where 
			app_version = #{appVersion}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_app_start where id = #{id,jdbcType=INTEGER}
	</delete>
	 
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.TAppStart">
		insert into t_app_start
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uuid != null">
				uuid,
			</if>
			<if test="appVersion != null">
				app_version,
			</if>
			<if test="firstUrl != null">
				first_url,
			</if>
			<if test="isShowAdd != null">
				is_show_add,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="yuCountdown != null">
				yu_countdown,
			</if>
			<if test="buttonBackground != null">
				button_background,
			</if>
			<if test="buttonPic != null">
				button_pic,
			</if>
			<if test="yuJumpButton != null">
				yu_jump_button,
			</if>
			<if test="showMoreLinkvalue != null">
				show_more_linkvalue,
			</if>
			<if test="buttonType != null">
				button_type,
			</if>
			<if test="residenceTime != null">
				residence_time,
			</if>
			<if test="buttonText != null">
				button_text,
			</if>
			<if test="buttonColor != null">
				button_color,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="appVersion != null">
				#{appVersion,jdbcType=VARCHAR},
			</if>
			<if test="firstUrl != null">
				#{firstUrl,jdbcType=VARCHAR},
			</if>
			<if test="isShowAdd != null">
				#{isShowAdd,jdbcType=CHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="yuCountdown != null">
				#{yuCountdown,jdbcType=VARCHAR},
			</if>
			<if test="buttonBackground != null">
				#{buttonBackground,jdbcType=VARCHAR},
			</if>
			<if test="buttonPic != null">
				#{buttonPic,jdbcType=VARCHAR},
			</if>
			<if test="yuJumpButton != null">
				#{yuJumpButton,jdbcType=VARCHAR},
			</if>
			<if test="showMoreLinkvalue != null">
				#{showMoreLinkvalue,jdbcType=VARCHAR},
			</if>
			<if test="buttonType != null">
				#{buttonType,jdbcType=VARCHAR},
			</if>
			<if test="residenceTime != null">
				#{residenceTime,jdbcType=VARCHAR},
			</if>
			<if test="buttonText != null">
				#{buttonText,jdbcType=VARCHAR},
			</if>
			<if test="buttonColor != null">
				#{buttonColor,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="cn.com.ddhj.model.TAppStart">
		update t_app_start
		<set>
			<if test="appVersion != null">
				app_version = #{appVersion,jdbcType=VARCHAR},
			</if>
			<if test="firstUrl != null">
				first_url = #{firstUrl,jdbcType=VARCHAR},
			</if>
			<if test="isShowAdd != null">
				is_show_add = #{isShowAdd,jdbcType=CHAR},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="yuCountdown != null">
				yu_countdown = #{yuCountdown,jdbcType=VARCHAR},
			</if>
			<if test="buttonBackground != null">
				button_background = #{buttonBackground,jdbcType=VARCHAR},
			</if>
			<if test="buttonPic != null">
				button_pic = #{buttonPic,jdbcType=VARCHAR},
			</if>
			<if test="yuJumpButton != null">
				yu_jump_button = #{yuJumpButton,jdbcType=VARCHAR},
			</if>
			<if test="showMoreLinkvalue != null">
				show_more_linkvalue = #{showMoreLinkvalue,jdbcType=VARCHAR},
			</if>
			<if test="buttonType != null">
				button_type = #{buttonType,jdbcType=VARCHAR},
			</if>
			<if test="residenceTime != null">
				residence_time = #{residenceTime,jdbcType=VARCHAR},
			</if>
			<if test="buttonText != null">
				button_text = #{buttonText,jdbcType=VARCHAR},
			</if>
			<if test="buttonColor != null">
				button_color = #{buttonColor,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>

























