<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.THighVoltageMapper">
	
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.THighVoltage">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="lng" property="lng" jdbcType="VARCHAR" />
		<result column="distance" property="distance" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
	</resultMap>
	
	 
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			t_high_voltage
		where 
			id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_high_voltage where id = #{id,jdbcType=INTEGER}
	</delete>
	
	 
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.THighVoltage">
		insert into t_high_voltage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="count != null">
				count,
			</if>
			<if test="lat != null">
				lat,
			</if>
			<if test="lng != null">
				lng,
			</if>
			<if test="distance != null">
				distance,
			</if>
			<if test="score != null">
				score,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=VARCHAR},
			</if>
			<if test="lng != null">
				#{lng,jdbcType=VARCHAR},
			</if>
			<if test="distance != null">
				#{distance,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				#{score , jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="cn.com.ddhj.model.THighVoltage">
		update t_high_voltage
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="lat != null">
				lat = #{lat,jdbcType=VARCHAR},
			</if>
			<if test="lng != null">
				lng = #{lng,jdbcType=VARCHAR},
			</if>
			<if test="distance != null">
				distance = #{distance,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
 
 	<select id="findListByCity" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
			*
		from
			t_high_voltage 
		where
			city = #{city}
	</select>
	
</mapper>










