<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.TProductOrderMapper">
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.TProductOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
		<result column="pay_money" property="payMoney" jdbcType="INTEGER" />
		<result column="buyer_code" property="buyerCode" jdbcType="VARCHAR" />
		<result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
		<result column="dispatching" property="dispatching" jdbcType="VARCHAR" />
		<result column="address_code" property="addressCode" jdbcType="VARCHAR" />
		<result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<collection property="address" ofType="cn.com.ddhj.model.TUserAddress">
			<result column="address_code" property="code" jdbcType="VARCHAR" />
			<result column="name" property="name" jdbcType="VARCHAR" />
			<result column="phone" property="phone" jdbcType="VARCHAR" />
			<result column="area_code" property="areaCode" jdbcType="VARCHAR" />
			<result column="provinces" property="provinces" jdbcType="VARCHAR" />
			<result column="street" property="street" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, uuid, code, pay_money, buyer_code, buyer_phone,
		dispatching,
		address_code,address_detail, create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_product_order
		where `code` = #{orderCode,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		t_product_order
		where `code` = #{orderCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.TProductOrder">
		insert into t_product_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			`code`,
			pay_money,
			buyer_code,
			buyer_phone,
			dispatching,
			address_code,
			address_detail,
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uuid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{payMoney,jdbcType=INTEGER},
			#{buyerCode,jdbcType=VARCHAR},
			#{buyerPhone,jdbcType=VARCHAR},
			#{dispatching,jdbcType=VARCHAR},
			#{addressCode,jdbcType=VARCHAR},
			#{addressDetail,jdbcType=VARCHAR},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>
	<update id="updateByCode" parameterType="cn.com.ddhj.model.TProductOrder">
		update t_product_order
		<set>
			<if test="orderStatus != null and orderStatus !=''">
				order_status = #{orderStatus , jdbcType=VARCHAR}, 
			</if>
			<if test="payMoney != null">
				pay_money = #{payMoney,jdbcType=INTEGER},
			</if>
			<if test="buyerCode != null and buyerCode !=''">
				buyer_code = #{buyerCode,jdbcType=VARCHAR},
			</if>
			<if test="buyerPhone != null and buyerPhone != ''">
				buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
			</if>
			<if test="dispatching != null">
				dispatching = #{dispatching,jdbcType=INTEGER},
			</if>
			<if test="addressCode != null and addressCode != null">
				address_code = #{addressCode,jdbcType=VARCHAR},
			</if>
			<if test="addressDetail != null and addressDetail != null">
				address_detail = #{addressDetail,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where `code` = #{orderCode,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据订单编码获取订单详情 -->
	<select id="findOrderDetailByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			o.`code`,
			o.order_status,
			o.pay_money,
			o.dispatching,
			o.create_time,
			ua.`code` AS address_code,
			o.address_detail,
			ua.`name`,
			ua.phone,
			ua.provinces,
			ua.street
			FROM
			t_product_order AS o,
			t_user_address AS ua
		WHERE
			o.address_code = ua.`code`
		and
			o.`code`=#{code,jdbcType=VARCHAR}
	</select>

	<!-- 返回指定用户的订单列表信息 -->	
	<resultMap id="ProductOrderListResultMap" type="cn.com.ddhj.result.order.ProductOrderListResult"></resultMap>
	<select id="findProductOrderList" parameterType="cn.com.ddhj.dto.ProductOrderDto" resultMap="ProductOrderListResultMap">
		 select 
				o.code as orderCode,
				o.order_status as orderStatus,
				o.pay_money as payMoney,
				o.buyer_phone as mobile,
				GROUP_CONCAT(p.product_name order by p.id) as productNames,
				GROUP_CONCAT(p.main_pic_url order by p.id) as mpurl,
				GROUP_CONCAT(p.current_price order by p.id) as productPrices,
				GROUP_CONCAT(p.product_code order by p.id) as productCode
			from 
				t_product_order o left join t_product_order_detail d on o.code = d.order_code left join t_product_info p on p.product_code = d.product_code
			where 
				o.buyer_code = #{buyerCode , jdbcType=VARCHAR}
				<if test="orderStatus != null and orderStatus !=''">
					and o.order_status = #{orderStatus , jdbcType=VARCHAR} 
				</if>
			group by o.code 
			limit  #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
	</select>
	
	
</mapper>













