<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.TProductInfoMapper">

	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.TProductInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="product_name" property="productName" jdbcType="VARCHAR" />
		<result column="main_pic_url" property="mainPicUrl" jdbcType="VARCHAR" />
		<result column="current_price" property="currentPrice"
			jdbcType="INTEGER" />
		<result column="stock_num" property="stockNum" jdbcType="INTEGER" />
		<result column="flag_sellable" property="flagSellable"
			jdbcType="INTEGER" />
		<result column="product_tip" property="productTip" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uuid, product_code, product_name, main_pic_url,
		current_price,
		stock_num,flag_sellable, product_tip,
		create_user,
		DATE_FORMAT(create_time,'%Y-%m-%d
		%H:%i:%s') as
		create_time,
		update_user,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s')
		as
		update_time
	</sql>

	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from
		t_product_info
		where product_code = #{productCode,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		t_product_info where product_code = #{productCode,jdbcType=VARCHAR}
	</delete>

	<insert id="insertSelective" parameterType="cn.com.ddhj.model.TProductInfo">
		insert into t_product_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uuid != null">
				uuid,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="productName != null">
				product_name,
			</if>
			<if test="mainPicUrl != null">
				main_pic_url,
			</if>
			<if test="currentPrice != null">
				current_price,
			</if>
			<if test="stockNum != null">
				stock_num,
			</if>
			<if test="flagSellable != null">
				flag_sellable,
			</if>
			<if test="productTip != null">
				product_tip,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="mainPicUrl != null">
				#{mainPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="currentPrice != null">
				#{currentPrice,jdbcType=INTEGER},
			</if>
			<if test="stockNum != null">
				#{stockNum,jdbcType=INTEGER},
			</if>
			<if test="flagSellable != null">
				#{flagSellable,jdbcType=INTEGER},
			</if>
			<if test="productTip != null">
				#{productTip,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d
			%H:%i:%s'),
		</trim>
	</insert>

	<update id="updateByCode" parameterType="cn.com.ddhj.model.TProductInfo">
		update t_product_info
		<set>
			<if test="productName != null">
				product_name = #{productName,jdbcType=VARCHAR},
			</if>
			<if test="mainPicUrl != null">
				main_pic_url = #{mainPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="currentPrice != null">
				current_price = #{currentPrice,jdbcType=INTEGER},
			</if>
			<if test="stockNum != null">
				stock_num = #{stockNum,jdbcType=INTEGER},
			</if>
			<if test="flagSellable != null">
				flag_sellable = #{flagSellable,jdbcType=INTEGER},
			</if>
			<if test="productTip != null">
				product_tip = #{productTip,jdbcType=VARCHAR},
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
		</set>
		where product_code = #{productCode,jdbcType=VARCHAR}
	</update>
	<!-- 根据集合参数查询商品列表 -->
	<select id="findProductsByList" parameterType="list" resultMap="BaseResultMap">
		select product_code,current_price,stock_num from t_product_info
		<where>
			product_code in
			<foreach collection="list" item="product" index="index" open="("
				close=")" separator=",">
				#{product.productCode}
			</foreach>
		</where>
	</select>
	<select id="findEntityAll" parameterType="cn.com.ddhj.dto.store.TProductInfoDto"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		t_product_info
		<where>
			1=1
			<if test="productCode != null and productCode != ''">
				and product_code = #{productCode,jdbcType=VARCHAR}
			</if>
			<if test="productName != null and productName != ''">
				and product_name like
				CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by create_time desc
	</select>
</mapper>













