<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.TRubbishRecyclingMapper">
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.TRubbishRecycling">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
		<result column="lng" property="lng" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, city, name, address, lat, lng
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_rubbish_recycling
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_rubbish_recycling
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.TRubbishRecycling">
		insert into t_rubbish_recycling
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="city != null">
				city,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="lat != null">
				lat,
			</if>
			<if test="lng != null">
				lng,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=VARCHAR},
			</if>
			<if test="lng != null">
				#{lng,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.ddhj.model.TRubbishRecycling">
		update t_rubbish_recycling
		<set>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				lat = #{lat,jdbcType=VARCHAR},
			</if>
			<if test="lng != null">
				lng = #{lng,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 获取小于dto经纬度的垃圾回收站中最大的数据 -->
	<select id="getMaxTRubbishRecycling" parameterType="cn.com.ddhj.dto.TRubbishRecyclingDto"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		t_rubbish_recycling
		WHERE
		id = (
		SELECT
		max(id)
		FROM
		t_rubbish_recycling
		WHERE
		lat &lt; #{lat,jdbcType=VARCHAR}
		AND lng &lt; #{lng,jdbcType=VARCHAR}
		AND
		city = #{city,jdbcType=VARCHAR}
		)
	</select>
	<!-- 获取大于dto经纬度的垃圾回收站中最小的数据 -->
	<select id="getMinTRubbishRecycling" parameterType="cn.com.ddhj.dto.TRubbishRecyclingDto"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		t_rubbish_recycling
		WHERE
		id = (
		SELECT
		max(id)
		FROM
		t_rubbish_recycling
		WHERE
		lat &gt; #{lat,jdbcType=VARCHAR}
		AND lng &gt; #{lng,jdbcType=VARCHAR}
		AND
		city = #{city,jdbcType=VARCHAR}
		)
	</select>
</mapper>