<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.IWeatherAreaSupportMapper">
	
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.WeatherAreaSupport">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="lon" property="lon" jdbcType="VARCHAR" />
		<result column="lat" property="lat" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			weather_area_support
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<!-- 查库找到支持地区列表 -->
	<select id="findSupportAreas" resultMap="BaseResultMap" >
		select
			*
		from 
			weather_area_support 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from weather_area_support where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.WeatherAreaSupport">
		insert into weather_area_support
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="lon != null">
				lon,
			</if>
			<if test="lat != null">
				lat,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="lon != null">
				#{lon,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				#{lat,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="cn.com.ddhj.model.WeatherAreaSupport">
		update weather_area_support
		<set>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="lon != null">
				lon = #{lon,jdbcType=VARCHAR},
			</if>
			<if test="lat != null">
				lat = #{lat,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
</mapper>













