<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.search.TSearchHistoryMapper">
	
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.search.TSearchHistory">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="key_word" property="keyWord" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			t_search_history
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<select id="getSearchHistoryByUserCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select DISTINCT key_word from t_search_history where user_code=#{userCode,jdbcType=INTEGER} order by id desc limit 10
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_search_history where zid = #{zid,jdbcType=INTEGER}
	</delete>
	<delete id="delSearchHistoryByUserCode" parameterType="java.lang.String">
		delete from t_search_history where user_code=#{userCode,jdbcType=VARCHAR}
	</delete>
	
	
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.search.TSearchHistory">
		insert into t_search_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			<if test="userCode != null">
				user_code,
			</if>
			<if test="keyWord != null">
				key_word,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uuid,jdbcType=VARCHAR},
			<if test="userCode != null">
				#{userCode,jdbcType=INTEGER},
			</if>
			<if test="keyWord != null">
				#{keyWord,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
		</trim>
	</insert>
</mapper>