<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.report.TReportMapper">
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.report.TReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="houses_code" property="housesCode" jdbcType="VARCHAR" />
		<result column="houses_name" property="housesName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="level_name" property="levelName" jdbcType="VARCHAR" />
		<result column="level_code" property="levelCode" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="image" property="image" jdbcType="VARCHAR" />
		<result column="rang" property="rang" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="lpName" property="lpName" jdbcType="VARCHAR" />
		<result column="rDesc" property="rDesc" jdbcType="LONGVARCHAR" />
		<!-- reportDate -->
		<result column="report_date" property="reportDate" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uuid, code, houses_code, title, level_code, pic, image,
		rang, price,
		path,detail, create_user,
		DATE_FORMAT(
		create_time,
		'%Y-%m-%d'
		) AS
		create_time,
		update_user,
		DATE_FORMAT(
		update_time,
		'%Y-%m-%d'
		) AS
		update_time,
		DATE_FORMAT(
		report_date,
		'%Y-%m-%d'
		) AS
		report_date
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		r.id,
		r.`code`,
		r.title,
		r.pic,
		r.image,
		r.rang,
		r.price,
		r.updatePrice,
		lp.overview AS detail,
		lp.city AS city,
		concat(ifnull(lp.lat,""),",",ifnull(lp.lng,"")) AS position,
		r.houses_code,
		DATE_FORMAT(
		r.create_time,
		'%Y-%m-%d'
		) AS
		create_time,
		lp.title AS houses_name,
		lp.addressFull as address,
		r.price,
		r.path,
		lp.title as lpName,
		r.detail as rDesc
		FROM
		t_report AS r
		LEFT JOIN
		t_landed_property
		AS lp ON
		r.houses_code =
		lp.`code`
		where
		r.`code` =
		#{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from t_report
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.report.TReport">
		insert into t_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			code,
			houses_code,
			title,
			<if test="levelCode != null">
				level_code,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="image != null">
				image,
			</if>
			<if test="rang != null">
				rang,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="path != null">
				path,
			</if>
			create_user,
			create_time,
			update_user,
			update_time,
			<if test="detail != null">
				detail,
			</if>
			<if test="reportDate != null and report_date != ''">
				report_date
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uuid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{housesCode,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			<if test="levelCode != null">
				#{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
			<if test="rang != null">
				#{rang,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(
			#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="detail != null">
				#{detail,jdbcType=LONGVARCHAR},
			</if>
			<if test="reportDate != null and report_date != ''">
				STR_TO_DATE(
				#{reportDate,jdbcType=VARCHAR},'%Y-%m-%d')
			</if>
		</trim>
	</insert>
	<insert id="insertReportData" parameterType="list">
		insert into t_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			code,
			houses_code,
			title,
			level_code,
			pic,
			image,
			rang,
			price,
			path,
			create_user,
			create_time,
			update_user,
			update_time,
			detail,
			report_date
		</trim>
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.uuid,jdbcType=VARCHAR},
				#{item.code,jdbcType=VARCHAR},
				#{item.housesCode,jdbcType=VARCHAR},
				#{item.title,jdbcType=VARCHAR},
				#{item.levelCode,jdbcType=VARCHAR},
				#{item.pic,jdbcType=VARCHAR},
				#{item.image,jdbcType=VARCHAR},
				#{item.rang,jdbcType=INTEGER},
				#{item.price,jdbcType=DECIMAL},
				#{item.path,jdbcType=VARCHAR},
				#{item.createUser,jdbcType=VARCHAR},
				STR_TO_DATE(
				#{item.createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
				#{item.updateUser,jdbcType=VARCHAR},
				STR_TO_DATE(
				#{item.updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
				#{item.detail,jdbcType=LONGVARCHAR},
				STR_TO_DATE(
				#{item.reportDate,jdbcType=VARCHAR},'%Y-%m-%d')
			</trim>
		</foreach>
	</insert>
	<update id="updateByCode" parameterType="cn.com.ddhj.model.report.TReport">
		update t_report
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="levelCode != null">
				level_code = #{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
			<if test="rang != null">
				rang = #{rang,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="reportDate != null and reportDate != ''">
				report_date =
				STR_TO_DATE(#{reportDate,jdbcType=VARCHAR},'%Y-%m-%d'),
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="detail != null">
				detail = #{detail,jdbcType=LONGVARCHAR}
			</if>
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
	<update id="updateReportByLpAndLevel" parameterType="cn.com.ddhj.model.report.TReport">
		update t_report
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="levelCode != null">
				level_code = #{levelCode,jdbcType=VARCHAR},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=VARCHAR},
			</if>
			<if test="rang != null">
				rang = #{rang,jdbcType=INTEGER},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="reportDate != null and reportDate != ''">
				report_date =
				STR_TO_DATE(#{reportDate,jdbcType=VARCHAR},'%Y-%m-%d'),
			</if>
			update_user = #{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="detail != null">
				detail = #{detail,jdbcType=LONGVARCHAR}
			</if>
		</set>
		where `houses_code` = #{housesCode,jdbcType=VARCHAR}
		AND level_code =
		#{levelCode,jdbcType=VARCHAR}
	</update>
	<select id="findEntityAll" parameterType="cn.com.ddhj.dto.report.TReportDto"
		resultMap="BaseResultMap">
		SELECT
		r.id,
		r.`code`,
		r.houses_code,
		r.pic,
		r.image,
		r.rang,
		r.create_time,
		lp.title AS `name`,
		lp.addressFull AS address,
		r.price,
		r.path
		FROM
		t_report AS r
		LEFT JOIN t_landed_property AS lp ON
		r.houses_code =
		lp.`code`
		<where>
			( lp.lat BETWEEN #{minLat,jdbcType=VARCHAR} AND
			#{maxLat,jdbcType=VARCHAR})
			AND
			(lp.lng BETWEEN
			#{minLng,jdbcType=VARCHAR} AND #{maxLng,jdbcType=VARCHAR})
		</where>
		limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	<select id="findEntityAllCount" parameterType="cn.com.ddhj.dto.report.TReportDto"
		resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		t_report AS r
		LEFT JOIN t_landed_property
		AS lp ON
		r.houses_code =
		lp.`code`
		<where>
			( lp.lat BETWEEN #{minLat,jdbcType=VARCHAR} AND
			#{maxLat,jdbcType=VARCHAR})
			AND
			(lp.lng BETWEEN
			#{minLng,jdbcType=VARCHAR} AND #{maxLng,jdbcType=VARCHAR})
		</where>
	</select>
	<select id="findRreportByChart" parameterType="list" resultMap="BaseResultMap">
		SELECT
		r.`code`,
		r.pic,
		r.image,
		r.title,
		r.price,
		r.updatePrice,
		r.houses_code,
		rl.`name`
		AS level_name
		FROM
		t_report AS
		r
		LEFT JOIN t_report_level AS rl ON
		r.level_code =
		rl.`code`
		where
		r.code
		in
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</select>
	<select id="findReportByHousesCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		rl.`name` as level_name,
		r.level_code as level_code,
		r.`code`,
		r.detail,
		r.pic,
		r.image,
		r.price,
		r.updatePrice,
		r.path,
		r.create_time
		FROM
		t_report AS r
		LEFT
		JOIN t_report_level AS rl ON r.level_code = rl.`code`
		WHERE
		r.houses_code = #{housesCode,jdbcType=VARCHAR}
	</select>


	<select id="findPriceByCode" parameterType="java.util.List"
		resultMap="BaseResultMap">
		select
		*
		from
		t_report
		where
		level_code = 'RL161006100001'
		and
		houses_code in
		<foreach item="item" index="index" collection="list" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</select>
	<select id="findLevel" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		rl.`name`
		FROM
		t_report AS r
		LEFT JOIN t_report_level AS
		rl ON r.level_code = rl.`code`
		WHERE
		r.`code` = #{code,jdbcType=VARCHAR}
	</select>
	<select id="findTReportAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_report
	</select>
	<select id="findReportDataAll" resultType="Map"
		parameterType="cn.com.ddhj.dto.report.TReportDto">
		SELECT
		r.`code`,
		r.title,
		lp.title AS lpName,
		rl.`name` AS levelName,
		r.price,
		DATE_FORMAT(
		r.create_time,
		'%Y-%m-%d %H:%i:%s'
		) AS
		createTime,
		DATE_FORMAT(
		r.update_time,
		'%Y-%m-%d %H:%i:%s'
		) AS
		updateTime
		FROM
		t_report AS r
		LEFT JOIN
		t_landed_property
		AS lp ON r.houses_code =
		lp.`code`
		LEFT JOIN
		t_report_level AS rl ON
		r.level_code = rl.`code`
		<where>
			1=1
			<if test="lpTitle != null and lpTitle != ''">
				AND lp.title like
				CONCAT('%',#{lpTitle,jdbcType=VARCHAR},'%')
			</if>
			<if test="title != null and title != ''">
				AND r.title like
				CONCAT('%',#{title,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	<!-- 根据楼盘编码和等级编码查询报告是否存在 2016-10-22 zhy -->
	<select id="findReportByLpCodeAndLevelCode" parameterType="list"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_report
		<where>
			houses_code in
			(
			<foreach collection="list" item="item" index="index"
				separator=",">
				#{item,jdbcType=VARCHAR}
			</foreach>
			)
			AND
			level_code = 'RL161006100001'
		</where>
	</select>
	<!-- 存储数据到报告临时表 -->
	<insert id="batchInsertReportToTmp" parameterType="list">
		insert into t_report_tmp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			code,
			path,
			report_date,
			update_user,
			update_time
		</trim>
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.code,jdbcType=VARCHAR},
				#{item.path,jdbcType=VARCHAR},
				#{item.reportDate,jdbcType=VARCHAR},
				#{item.updateUser,jdbcType=VARCHAR},
				STR_TO_DATE(
				#{item.updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			</trim>
		</foreach>
	</insert>
	<!-- 存储数据到报告临时表 -->
	<insert id="batchInsertH5ReportToTmp" parameterType="list">
		insert into t_report_h5_tmp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			lp_code,
			report_level,
			path,
			report_date
		</trim>
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.housesCode,jdbcType=VARCHAR},
				#{item.levelCode,jdbcType=VARCHAR},
				#{item.path,jdbcType=VARCHAR},
				STR_TO_DATE(#{item.createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			</trim>
		</foreach>
	</insert>
	<!-- 从报告临时表将数据同步到报告表 -->
	<update id="importReportFormTmp">
		UPDATE t_report AS r,
		t_report_tmp AS rt
		SET r.path =
		rt.path,
		r.update_user = rt.update_user,
		r.update_time = rt.update_time
		WHERE
		r.`code` = rt.`code`
	</update>
	<!-- 删除临时表数据 -->
	<delete id="delReportTmp">
		delete from t_report_tmp
	</delete>
	<!-- 批量修改环境报告的修改时间 2016-11-23 zhy -->
	<update id="updateReportTime">
		update t_report set update_time = now()
	</update>
	<select id="fineTreportTmp" resultType="java.util.Map">
		select * from t_report_h5_tmp
	</select>
</mapper>