<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ddhj.mapper.user.TUserCarbonOperationMapper">
	<resultMap id="BaseResultMap" type="cn.com.ddhj.model.user.TUserCarbonOperation">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="operation_type" property="operationType"
			jdbcType="VARCHAR" />
		<result column="operation_type_name" property="operationTypeName"
			jdbcType="VARCHAR" />
		<result column="operation_type_child" property="operationTypeChild"
			jdbcType="VARCHAR" />
		<result column="operation_type_child_name" property="operationTypeChildName"
			jdbcType="VARCHAR" />
		<result column="carbon_sum" property="carbonSum" jdbcType="DECIMAL" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uuid, code, user_code,
		operation_type,operation_type_child, carbon_sum,
		create_user,
		DATE_FORMAT(
		create_time,
		'%Y-%m-%d'
		) AS
		create_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_user_carbon_operation
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insertSelective" parameterType="cn.com.ddhj.model.user.TUserCarbonOperation">
		insert into t_user_carbon_operation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			`code`,
			user_code,
			operation_type,
			operation_type_child,
			carbon_sum,
			create_user,
			create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uuid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{userCode,jdbcType=VARCHAR},
			#{operationType,jdbcType=VARCHAR},
			#{operationTypeChild,jdbcType=VARCHAR},
			#{carbonSum,jdbcType=DECIMAL},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(
			#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
		</trim>
	</insert>
	<insert id="batchInsert" parameterType="java.util.List">
		insert into t_user_carbon_operation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			`code`,
			user_code,
			operation_type,
			operation_type_child,
			carbon_sum,
			create_user,
			create_time,
		</trim>
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix=" (" suffix=")" suffixOverrides=",">
				#{item.uuid,jdbcType=VARCHAR},
				#{item.code,jdbcType=VARCHAR},
				#{item.userCode,jdbcType=VARCHAR},
				#{item.operationType,jdbcType=VARCHAR},
				#{item.operationTypeChild,jdbcType=VARCHAR},
				#{item.carbonSum,jdbcType=DECIMAL},
				#{item.createUser,jdbcType=VARCHAR},
				STR_TO_DATE(#{item.createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			</trim>
		</foreach>
	</insert>


	<!-- <insert id="batchInsert" parameterType="java.util.List"> insert into 
		t_user_carbon_operation ( uuid, `code`, user_code, operation_type, operation_type_child, 
		carbon_sum, create_user, create_time, ) values <foreach collection="list" 
		item="item" index="index" separator=","> ( #{item.uuid,jdbcType=VARCHAR}, 
		#{item.code,jdbcType=VARCHAR}, #{item.userCode,jdbcType=VARCHAR}, #{item.operationType,jdbcType=VARCHAR}, 
		#{item.operationTypeChild,jdbcType=VARCHAR}, #{item.carbonSum,jdbcType=DECIMAL}, 
		#{item.createUser,jdbcType=VARCHAR}, STR_TO_DATE(#{item.createTime,jdbcType=VARCHAR},'%Y-%m-%d 
		%H:%i:%s') ) </foreach> </insert> -->


	<!-- 根据时间查询交易详情 2017-02-10 zhy -->
	<select id="findCarbonOperationByDate" parameterType="cn.com.ddhj.dto.user.TUserCarbonOperationDto"
		resultMap="BaseResultMap">
		SELECT
		DATE(create_time) AS create_time,
		SUM(carbon_sum) AS
		carbon_sum
		FROM
		t_user_carbon_operation
		WHERE
		user_code =
		#{userCode,jdbcType=VARCHAR}
		AND operation_type =
		#{operationType,jdbcType=VARCHAR}
		AND create_time >
		DATE_SUB(CURDATE(),
		INTERVAL 1 MONTH)
		GROUP BY
		DATE(create_time)
	</select>
	<!-- 根据时间查询交易详情 2017-02-10 zhy -->
	<select id="findCarbonOperationByTime" parameterType="cn.com.ddhj.dto.user.TUserCarbonOperationDto"
		resultMap="BaseResultMap">
		SELECT
		DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,
		operation_type,
		(
		SELECT
		`name`
		FROM
		sys_define_code
		WHERE
		`code` =
		operation_type
		) AS operation_type_name,
		operation_type_child,
		(
		SELECT
		`name`
		FROM
		sys_define_code
		WHERE
		`code` =
		operation_type_child
		) AS
		operation_type_child_name,
		SUM(carbon_sum) as
		carbon_sum
		FROM
		t_user_carbon_operation
		WHERE
		user_code =
		#{userCode,jdbcType=VARCHAR}
		<if test="operationType != null and operationType != ''">
			AND operation_type
			=#{operationType,jdbcType=VARCHAR}
		</if>
		<if test="operationTypeChild != null and operationTypeChild != ''">
			AND operation_type_child
			=#{operationTypeChild,jdbcType=VARCHAR}
		</if>
		<choose>
			<when test="day != null">
				AND create_time >
				DATE_SUB(CURDATE(),
				INTERVAL
				#{day,jdbcType=INTEGER} DAY)
				GROUP BY
				DATE_FORMAT(create_time,
				'%Y-%m-%d')
				ORDER BY create_time DESC
			</when>
			<otherwise>
				GROUP BY
				DATE_FORMAT(create_time, '%Y-%m-%d')
				ORDER BY
				create_time DESC
				limit
				#{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
	<!-- 显示碳币交易明细 精确到秒 2017-08-08 zhy -->
	<select id="findCarbonOperationDetail" parameterType="cn.com.ddhj.dto.user.TUserCarbonOperationDto"
		resultMap="BaseResultMap">
		SELECT
		DATE_FORMAT(
		create_time,
		'%Y-%m-%d %H:%i:%s'
		) AS
		create_time,
		operation_type,
		(
		SELECT
		`name`
		FROM
		sys_define_code
		WHERE
		`code` = operation_type
		) AS
		operation_type_name,
		operation_type_child,
		(
		SELECT
		`name`
		FROM
		sys_define_code
		WHERE
		`code` =
		operation_type_child
		) AS
		operation_type_child_name,
		carbon_sum
		FROM
		t_user_carbon_operation
		WHERE
		user_code =
		#{userCode,jdbcType=VARCHAR}
		<if test="operationType != null and operationType != ''">
			AND operation_type
			=#{operationType,jdbcType=VARCHAR}
		</if>
		<if test="operationTypeChild != null and operationTypeChild != ''">
			AND operation_type_child
			=#{operationTypeChild,jdbcType=VARCHAR}
		</if>
		<choose>
			<when test="day != null">
				AND create_time >
				DATE_SUB(CURDATE(),
				INTERVAL
				#{day,jdbcType=INTEGER} DAY)
				ORDER BY create_time DESC
			</when>
			<otherwise>
				ORDER BY
				create_time DESC
				limit
				#{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
	<!-- 根据收支细分类型汇总交易记录 2017-02-10 zhy -->
	<select id="getCarbonOperationSum" parameterType="cn.com.ddhj.dto.user.TUserCarbonOperationDto"
		resultMap="BaseResultMap">
		select operation_type_child,SUM(carbon_sum) as carbon_sum
		from t_user_carbon_operation
		where user_code =
		#{userCode,jdbcType=VARCHAR} group by operation_type_child;
	</select>
	<select id="getUserCarbonOperationYesterday" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select operation_type,SUM(carbon_sum) as carbon_sum
		from
		t_user_carbon_operation
		where user_code =
		#{userCode,jdbcType=VARCHAR}
		and create_time>DATE_SUB(CURDATE(),INTERVAL 1 DAY) group by
		operation_type;
	</select>
</mapper>